out/*.iso
out/*.ppm
out/*.log
out/*.png
out/boot-*.png
out/final.png
out/live*.png
vm/*.qcow2
vm/*.log
vm/serial.log
vm/seed-http.log
vm/seed-http.log.out
vm/id_ed25519
vm/id_ed25519.pub
downloads/*.iso
downloads/*.img
downloads/*.exe
downloads/SHA256SUMS
work/
slides/
Thumbs.db
.DS_Store
desktop.ini
ancoros-site/
AncorISO/
assets/src/*.exe
assets/src/*.zip
