set timeout=30
set timeout_style=menu

loadfont unicode

insmod all_video
insmod gfxterm
insmod png

terminal_output console
if terminal_output gfxterm; then
    set gfxmode=1920x1080
    if [ -f /boot/grub/themes/Elegant-mountain-window-left-dark/theme.txt ]; then
        load_theme /boot/grub/themes/Elegant-mountain-window-left-dark/theme.txt
    fi
fi

menuentry "Install AncorOS (automatic)" {
    set gfxpayload=keep
    linux  /casper/vmlinuz autoinstall layerfs-path=minimal.standard.live.extra.squashfs --- quiet splash
    initrd /casper/initrd
}
menuentry "Try AncorOS" {
    set gfxpayload=keep
    linux  /casper/vmlinuz layerfs-path=minimal.standard.live.extra.squashfs --- quiet splash
    initrd /casper/initrd
}
menuentry "AncorOS (safe graphics)" {
    set gfxpayload=keep
    linux  /casper/vmlinuz layerfs-path=minimal.standard.live.extra.squashfs nomodeset --- quiet splash
    initrd /casper/initrd
}
grub_platform
if [ "$grub_platform" = "efi" ]; then
menuentry 'Boot from next volume' {
    exit 1
}
menuentry 'UEFI Firmware Settings' {
    fwsetup
}
fi
